<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TweetSysis</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rambla:bold,bolditalic,regular|Muli:italic,light,regular,regularitalic,medium">


    <script src="/static/testScript.js"></script>
  </head>

  <body>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <h2>Today's trends</h2>-->
<!--      <p> Select location to see trending Twitter topics: </p>-->
<!--          &lt;!&ndash; <input type="button" class="btn-check" name="btnradio" id="btnradio1" onclick="location.href='/Seattle'">-->
<!--          <label class="btn btn-outline-primary" for="btnradio1">Seattle</label> &ndash;&gt;-->
<!--          <button type="button" class="btn btn-primary" onclick="location.href='/Seattle'">Seattle</button>-->
<!--          <button type="button" class="btn btn-primary" onclick="location.href='/Sydney'">Sydney</button>-->
<!--          <button type="button" class="btn btn-primary" onclick="location.href='/London'">London</button>-->
<!--          <button type="button" class="btn btn-primary" onclick="location.href='/Toronto'">Toronto</button>-->

<!--      {% include "list.html" %}-->

<!--    </div>-->
<!--    <div class="col">-->
<!--      <h2>Sample tweets for {{ query }}</h2>-->
<!--        &lt;!&ndash; {% block content1 %}-->

<!--        {% endblock %} &ndash;&gt;-->
<!--    </div>-->
<!--  <div class="col">-->
<!--    <h2>Sentiment analysis</h2>-->
<!--  </div>-->
<!--  </div>-->
<!--</div>-->

</body>




</html>
